*{
    margin: 0;
    font-family: Hanken Grotesk;
}

section{
display: flex;
margin: 280px 0 0 600px;
border-radius: 10px;
}

#kor{
    background-image: linear-gradient(180deg,  #4b24cd, #4b24cd);
    border-radius: 100%;
    padding: 5px 5px 5px 5px;
    height: 150px;
    width: 150px;
    margin-left: 25px;
    margin-top: 25px;
}

#elsoart{
    text-align: center;
    margin: 0 0 0 100px;
    max-width: 200px;
    background-image: linear-gradient(180deg, #6844ff, #322deb);
    padding: 35px 50px 55px 50px;
    border-radius: 30px;
}



article article div:nth-of-type(1)
{
    display: flex;
    background-color: #fff6f7;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    margin: 20px;
}

article article div:nth-of-type(2)
{
    display: flex;
    background-color: #fffaf4;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    margin: 20px;
}

article article div:nth-of-type(3)
{
display: flex;
   background-color: #f2fdf9;
   height: 50px;
    width: 250px;
    border-radius: 10px;
    margin: 20px;
}

article article div:nth-of-type(4)
{
    display: flex;
    background-color:#f4f4fe;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    margin: 20px;
}

#reakcio{
    color: hsl(0, 100%, 67%);
    margin-top: 13px;
    margin-left: 5px;
}

#memoria{
    color: hsl(39, 100%, 56%);
    margin-top: 13px;
    margin-left: 5px;
}

#verbalis{
color:  hsl(166, 100%, 37%);
margin-top: 13px;
margin-left: 5px;
}

#visual{
color: hsl(234, 85%, 45%);
margin-top: 13px;
margin-left: 5px;
}

article:nth-of-type(1) h1:nth-of-type(1)
{
color: #c8b9fd;
}

#hosszuszoveg{
color: #c8b9fd;
margin-top: 20px;
font-size: 16px;
}

#szam{
font-size: 80px;
color: white;
margin-top: 10px;
}

#of100{
font-size: 15px;
color: #7d72f1;
margin-top: 20px;
}

#great{
    color: white;
    margin-top: 30px;
    font-size: 28px;
}

#summary{
    margin: 35px 0 0 50px;
}

article article{
    font-size: 20px;
    margin-left: 30px;

}

img{
    max-width: 20px;
    max-height: 20px;
    margin: 15px 0 0 10px;
}

.szamok1{
    margin: 13px 0 0 70px;
}

.szamok2{
    margin: 13px 0 0 70px;
}

.szamok3{
    margin: 13px 0 0 87px;
}

.szamok4{
    margin: 13px 0 0 87px;
}

#button{
    border-radius: 40px;
    margin: 0 0 0 20px;
    height: 50px;
    width: 250px;
    background-color: #4f39f4;
    font-size: 20px;
    color: white;
    transition-duration: 0.2s;
    cursor: pointer;
}

#button:hover{
    background-color: #303b59;
}